.main-section-wrapper {
    .home {
        justify-content: center;
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            max-width: 1223px;
            align-items: center;
            .header-home {
                width: 100%;
                max-width: 1223px;
                display: flex;
                .files {
                    display: flex;
                    flex-direction: column;
                }
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 33.3%;
                    text-align: center;
                    .container-inputs-files {
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .input-file {
                            position: absolute;
                            top: 0;
                            width: 100%;
                            background-color: red;
                            height: 100%;
                            opacity: -1;
                        }
                        .seleccionar-archivo {
                            background: linear-gradient(180deg, #f5f6f0 0%, #e5e7e9 100%);
                            color: #212121;
                            font-size: 14px;
                            text-transform: none;
                            font-weight: 400;
                            padding: 8px 16px;
                            width: auto;
                            box-shadow: none;
                            border: none;
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                    p {
                        margin: 0;
                        margin-left: 7px;
                        color: #1E449D;
                        font-weight: bold;
                    }
                    .icon-plus {
                        background-color: #E7EEFE;
                        color: white;
                        padding: 8px 11px;
                        border-radius: 25px;
                        .icon {
                            color: #1E449D;
                        }
                    }
                }
            }
            .list-files {
                width: 100%;
                margin: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                table {
                    thead {
                        tr {
                            th {
                                padding: 15px 10px;
                                border-bottom: 1px solid rgba(0,0,0,.1); 
                                // background-color: #E7EEFE;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                padding: 10px;
                                border-bottom: 1px solid rgba(0,0,0,.1); 
                            }
                        }
                    }
                }
                .icon-vista {
                    text-align: right;
                    padding: 20px 0;
                }
                .body-square {
                    display: flex;
                    flex-wrap: wrap;
                    // justify-content: center;
                    margin: 0 auto;
                    // justify-content: space-evenly;
                    .archivo {
                        border-radius: 30px;                       width: 20%;
                        padding: 10px;
                        width: 32%;
                        margin: 5px 5px;
                        min-width: 288px;
                        background: #E7EEFE;
                        .subcontainer {
                            width: 100%;
                            padding: 10px 10px;
                            border-bottom: 3px solid white;
                            color: #2B67F2;
                            &:first-child {
                                font-weight: bold;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                        .botones {
                            width: 100%;
                            display: flex;
                            border-bottom: none;
                            padding: 60px 0 0 0;
                            flex-wrap: wrap;
                            div {
                                width: 33%;
                                text-align: center;
                                min-width: 105px;
                                button {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.icon-exchange {
    transform: rotate(90deg);
    margin-left: 10px;
    &:hover {
        cursor: pointer;
    }
}

.icon-inicio {
    font-size: 20px;
    padding: 10px;
    color: rgba(0,0,0,.4);
    cursor: pointer;
    transition: all .3s ease-in;
    &:hover {
        color: black;
        background: rgba(0,0,0,.2);
        border-radius: 50%;
    }
}


.icon-pdf {
    color: red;
    font-size: 25px;
}

.icon-word {
    color: #5274c4;
    font-size: 25px;
}
.icon-txt {
    color: #1E449D;
    font-size: 25px;
}