.main-section-wrapper {
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content {
            width: 100%;
            max-width: $max-width-screen;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-login {
                width: 100%;
                max-width: 120px;
            }
            .titulo {
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 1.3rem;
                letter-spacing: normal;
            }
        }
        
    }
}