.main-section-wrapper {
    .recover-password {
        justify-content: center;
        align-items: center;
        position: relative;
        .img-atras {
            position: absolute;
            top: 2rem;
            left: 2rem;
            max-width: 44px;
            color: blue
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-login {
                width: 100%;
                max-width: 120px;
            }
            .titulo {
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 1.3rem;
                letter-spacing: normal;
            }
        }
    }
}