.main-section-wrapper .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-section-wrapper .login .content .img-login {
    width: 100%;
    max-width: 120px; }
  .main-section-wrapper .login .content .titulo {
    text-align: center;
    margin-top: 2rem;
    letter-spacing: normal; }
