.main-section-wrapper .recover-password {
  justify-content: center;
  align-items: center; }
  .main-section-wrapper .recover-password .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-section-wrapper .recover-password .content .img-login {
      width: 100%;
      max-width: 120px; }
    .main-section-wrapper .recover-password .content .titulo {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1.3rem;
      letter-spacing: normal; }
