.button {
    padding: 10px 40px;
    border-bottom-left-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
    border-top-left-radius: 20px 50%;
    border-top-right-radius: 20px 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    border: none;
    background-color: $body-bg-color;
    color: $white;
}